.logo{
  cursor:pointer;
  height: 60px;
  width: 70px;
}
.logo1 {
  cursor:pointer;
  height: 38px;
  width: 40px;
  &:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}
.logo2 {
  cursor:pointer;
  height: 28px;
  width: 30px;
  &:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}
.header{
  background-image: linear-gradient(to right bottom, #050e2b, #001f38, #002c3c, #003938, #05442e);
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabinet {
  font-family: 'Alata', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.header-button {

  &--close {
    width: 50px;
    height: 40px;
    background-color: transparent;
    //background-image: url("../../src/images/back-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px 50px;

    border: none;
    outline: none;

    font-size: 0;
    color: transparent;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }

  &--log-out {
    width: 50px;
    height: 45px;
    background-color: transparent;
    //background-image: url("../../src/images/logout.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px 45px;
    border: none;
    outline: none;

    font-size: 0;
    color: transparent;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }
}