
body {
margin:0;
padding:0;

}

.wrapper{
height:100vh;
}
header{
height:60px;
background: red;
}
.Main{
height:calc(100% - 100px - 60px);
}
.left{
width:60px;
background: green;
height:100%;

}

footer{
height:100px;
background:blue
}